<div id="footer">
      <div class="container">
        <p class="text-muted">Daybook for schools, by <a href="https://www.manoevis.com/">
          Evaldas Grudzinskas</a>. &copy; 2014</p>
      </div>
</div>
